global
    log stdout format raw local0

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend pgsql
    bind *:5432
    default_backend pgsql_backend

backend pgsql_backend
    option tcp-check

    # Primary node (active)
    server postgres-node-1 postgres-node-1:5432 check

    # Standby node (used ONLY if primary fails)
    server postgres-node-2 postgres-node-2:5432 check backup
